.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: #20202380;
  font-family: "Lucida Sans Unicode";
  .title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
      color: #20202380;
    }
  }
  .menu {
    align-items: center;
    font-size: 24px;
    display: flex;
    .link {
      text-decoration: none;
      color: white;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      &:hover {
        text-decoration: underline;
        text-decoration-color: white;
        cursor: pointer;
        display: inline-block;
        transform: scale(98%);
      }
    }
  }
}
